.header {
  background: #545454;
  height: 65px;
  padding: 8px 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav {
  display: none;
}
.header .menu {
  display: block;
}
.header .close-menu {
  display: none;
}
.header .nav-mobile {
  display: none;
  height: calc(100vh - 65px);
  background: #545454;
  position: fixed;
  z-index: 10;
  top: 65px;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header .nav-mobile ul {
  padding: 0;
  margin: 0;
}
.header .nav-mobile ul li {
  list-style: none;
  margin-bottom: 30px;
}
.header .nav-mobile ul li a {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 19px;
  margin-bottom: 32px;
  text-decoration: none;
}
.header .nav-mobile ul li:last-of-type {
  background: #C40712;
  width: 179px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.header .nav-mobile ul li:last-of-type a {
  margin: 0;
}
.header .nav-mobile .social {
  display: flex;
}
.header .nav-mobile .social a {
  display: block;
  margin-right: 23px;
}
.header .nav-mobile .social a img {
  width: 45px;
}
.header .nav-mobile .social a:last-of-type {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .header {
    max-height: 80px;
    padding: 8px 200px;
  }
  .header .nav-mobile {
    display: none;
  }
  .header .menu {
    display: none;
  }
  .header .nav {
    display: flex;
    align-items: center;
  }
  .header .nav ul {
    display: flex;
    align-items: center;
  }
  .header .nav ul li {
    list-style: none;
  }
  .header .nav ul li a {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 64px;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-in;
  }
  .header .nav ul li a:hover {
    border-color: #C40712;
  }
  .header .nav ul li:last-of-type {
    background: #C40712;
    width: 119px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  .header .nav ul li:last-of-type a {
    margin: 0;
  }
  .header .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .social a {
    height: 31px;
  }
  .header .social a:first-of-type {
    margin-right: 16px;
  }
  .header .social .lenguage {
    margin-left: 40px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    position: relative;
  }
  .header .social .lenguage p {
    position: absolute;
  }
  .header .social .lenguage:hover {
    cursor: pointer;
  }
}

.hero {
  background: url(../img/hero-bg.png) no-repeat -30rem center;
  background-size: auto 250%;
  max-height: 407px;
  height: 430px;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
}
.hero h1 {
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  width: 195px;
  margin: 0 0 7px 42px;
  padding-top: 44px;
}
.hero h2 {
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  width: 215px;
  margin-left: 42px;
}
.hero button {
  margin-left: 42px;
  margin-top: 28px;
}
.hero::before {
  content: "";
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 45%, black 120%);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 713px;
    max-height: 713px;
    background-position: center center;
    background-size: auto 190%;
  }
  .hero h1 {
    font-size: 110px;
    margin: 0 0px 15px 200px;
    line-height: 96px;
    width: 650px;
    padding-top: 72px;
  }
  .hero h2 {
    line-height: 36px;
    font-size: 30px;
    width: 550px;
    margin-left: 200px;
  }
  .hero button {
    margin-left: 200px;
    margin-top: 73px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-position: center center;
    background-size: auto 230%;
  }
  .hero h1, .hero h2, .hero button {
    margin-left: 150px;
  }
}
@media screen and (min-width: 2500px) {
  .hero {
    min-height: 800px;
    height: 800px;
    background-position: center center;
    background-size: cover;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 60px;
  font-style: italic;
  font-size: 16px;
  max-height: 45px;
  color: white;
  line-height: 50px;
  font-weight: 500;
}
.button img {
  margin-left: 5px;
}
.button__outlined {
  border: 1px solid white;
  background: transparent;
}
.button__contained {
  background: #C40712;
  border: 1px solid #C40712;
}
@media screen and (min-width: 1024px) {
  .button {
    font-size: 18px;
    line-height: 50px;
  }
}

.first-section {
  padding: 60px 0px 95px;
  overflow: hidden;
}
.first-section .content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  margin: 0px 0px 20px;
  color: #C40712;
  padding: 0px 45px;
  width: 350px;
}
.first-section .content h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0px 45px;
  margin-bottom: 47px;
}
.first-section .content p {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #22637E;
  margin: 37px 0 45px;
  padding: 0px 45px;
}
.first-section .content button {
  margin: 0px 45px 65px;
}
.first-section .section-img {
  margin-bottom: 50px;
}
.first-section .section-img .img {
  width: 100%;
  height: 285px;
  background: url(../img/first-section-img.png) no-repeat center center;
  background-size: cover;
}
.first-section .section-img .img.second {
  width: 100%;
  background: url(../img/second-section-img.jpeg) no-repeat -76px -46px;
  background-size: auto 167%;
}
@media screen and (min-width: 1024px) {
  .first-section {
    display: flex;
    align-items: center;
    padding: 89px 0px 0px;
  }
  .first-section.second .section-img {
    order: 1;
  }
  .first-section.second .content-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .first-section.second .content-wrapper .content {
    margin-right: 137px;
  }
  .first-section.second .content-wrapper h1, .first-section.second .content-wrapper h2 {
    padding: 0px;
    width: 410px;
  }
  .first-section.second .content-wrapper button {
    margin: 0;
  }
  .first-section .content h1 {
    line-height: 52px;
    font-size: 50px;
    padding: 0px 0px 0px 137px;
    width: 550px;
    margin-bottom: 25px;
  }
  .first-section .content h2 {
    font-size: 20px;
    line-height: 26px;
    padding: 0px 0px 0px 137px;
    width: 580px;
    margin-bottom: 72px;
  }
  .first-section .content p {
    font-size: 22px;
    line-height: 30px;
    padding: 0px 0px 0px 137px;
    margin: 69px 0px 77px;
  }
  .first-section .content button {
    margin: 0px 0px 0px 137px;
  }
  .first-section .section-img {
    width: 50%;
    margin-bottom: 0;
  }
  .first-section .section-img .img {
    width: 100%;
    height: 619px;
    margin-left: 0;
  }
  .first-section .section-img .img.second {
    width: 100%;
    background-position: -2rem 0rem;
    background-size: auto 110%;
  }
}

.third-section {
  background: #545454;
  padding: 76px 0;
  margin-top: 50px;
  position: relative;
}
.third-section .content {
  position: relative;
  z-index: 1;
  padding: 0 33px;
}
.third-section .content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-bottom: 66px;
  width: 295px;
}
.third-section .content h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: white;
  margin: 0;
  margin-bottom: 17px;
  width: 295px;
}
.third-section .content p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: white;
  margin: 0;
  margin-bottom: 37px;
}
.third-section .content p strong {
  font-weight: 700;
}
.third-section::before {
  content: "";
  background: url("../img/br-gradient.png") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.3;
}
.third-section .content-images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  top: 0;
}
.third-section .content-images .first-img {
  background: url(../img/images-1.png) no-repeat center center;
}
.third-section .content-images .second-img {
  background: url(../img/images-2.png) no-repeat center center;
}
.third-section .content-images .third-img {
  background: url(../img/images-3.png) no-repeat center center;
  width: 100%;
  margin-bottom: 12px;
  height: 210px;
}
.third-section .content-images .second-img, .third-section .content-images .first-img {
  width: 50%;
  height: 301px;
  background-size: auto 105%;
}
@media screen and (min-width: 1024px) {
  .third-section {
    margin-top: 146px;
    padding: 130px 0px;
    margin-bottom: 89px;
  }
  .third-section .content {
    padding: 0 200px;
  }
  .third-section .content .text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 123px;
  }
  .third-section .content .text-content > div {
    width: 50%;
  }
  .third-section .content .text-content > div:first-of-type {
    padding-right: 90px;
  }
  .third-section .content h1 {
    text-align: center;
    font-size: 50px;
    line-height: 52px;
    width: 100%;
    margin-bottom: 52px;
  }
  .third-section .content h2 {
    font-size: 26px;
    line-height: 52px;
    width: 100%;
  }
  .third-section .content p {
    font-size: 20px;
    line-height: 26px;
    margin: 0px;
  }
  .third-section .content-images {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .third-section .content-images .first-img, .third-section .content-images .second-img, .third-section .content-images .third-img {
    height: 616px;
    width: 420px;
    background-size: cover;
    margin-right: 57px;
  }
  .third-section .content-images .third-img {
    margin: 0;
  }
}

.last-section {
  background: url("../img/surf-banner.png") no-repeat -37rem -10rem;
  background-size: auto 128%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 765px;
}
.last-section h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: white;
  margin: 0;
}
.last-section > img {
  width: 55px;
}
.last-section p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
  margin: 9px 0 73px;
}
@media screen and (min-width: 1024px) {
  .last-section {
    background-position-x: center;
  }
  .last-section h1 {
    font-size: 50px;
    line-height: 52px;
    width: 586px;
  }
  .last-section h1 strong {
    font-weight: 700;
  }
  .last-section h2 {
    width: 586px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 36px;
  }
  .last-section p {
    font-size: 20px;
    line-height: 28px;
    width: 425px;
    margin: 45px 0px 105px 0px;
  }
}
@media screen and (min-width: 1024px) {
  .last-section {
    background-size: cover;
    height: 900px;
    min-height: 900px;
  }
}

footer {
  background: #C40712;
  padding: 48px 41px 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer p {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
  margin: 0;
  margin-bottom: 26px;
}
footer .first-footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .first-footer-section h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
  margin: 33px 0 15px;
}
footer hr {
  color: white;
  width: 100%;
}
footer .second-footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .second-footer-section button {
  margin: 25px 0 38px;
}
footer .second-footer-section .social {
  width: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 60px 200px;
  }
  footer hr {
    width: 0px;
    height: 128px;
  }
  footer .first-footer-section {
    width: 49%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  footer .first-footer-section p, footer .first-footer-section h1 {
    text-align: left;
  }
  footer .first-footer-section p strong, footer .first-footer-section h1 strong {
    font-weight: 700;
  }
  footer .first-footer-section h1 {
    font-size: 14px;
    line-height: 18px;
    width: 80%;
  }
  footer .first-footer-section p {
    font-size: 10px;
    line-height: 18px;
  }
  footer .second-footer-section {
    width: 49%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .second-footer-section button {
    order: 1;
    margin: 0;
    margin-right: 40px;
  }
  footer .second-footer-section p {
    margin-top: 23px;
    order: 2;
    font-size: 16px;
    line-height: 18px;
  }
  footer .second-footer-section .social {
    order: 1;
    margin-top: 0;
  }
}

.hero-nosotros {
  position: relative;
  background: url("../img/nosotros/deporte-acuatico-tronx.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 60px 25px 60px 42px;
}
.hero-nosotros .surf-img {
  display: none;
}
.hero-nosotros h1.title {
  font-size: 30px;
  line-height: 34px;
  margin: 0;
  font-weight: 300;
  margin-bottom: 9px;
}
.hero-nosotros h1.title span {
  font-weight: 700;
}
.hero-nosotros p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 27px;
  font-weight: 300;
}
.hero-nosotros p span {
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .hero-nosotros {
    padding: 60px 250px 60px 250px;
  }
  .hero-nosotros h1.title {
    max-width: 560px;
    font-size: 50px;
    line-height: 52px;
    margin-bottom: 34px;
  }
  .hero-nosotros p.description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px;
  }
}

.members-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.members-cards-container .member-card {
  margin-bottom: 57px;
  width: 300px;
}
.members-cards-container .member-card___image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}
.members-cards-container .member-card__content h2 {
  margin: 15px 0 8px 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
}
.members-cards-container .member-card__content p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.members-cards-container .member-card hr {
  height: 2px;
  width: 48px;
  background: #C40712;
  border: none;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .members-cards-container {
    flex-direction: row;
    margin-top: 100px;
    align-items: normal;
    gap: 21px;
  }
  .members-cards-container .member-card {
    margin-bottom: 0;
    width: auto;
  }
  .members-cards-container .member-card__content h2 {
    font-size: 16px;
    line-height: 22px;
  }
  .members-cards-container .member-card__content p {
    font-size: 13px;
    line-height: 24px;
  }
  .members-cards-container .member-card:nth-child(1), .members-cards-container .member-card:nth-child(3) {
    margin-top: 50px;
  }
}

.second-us {
  margin-top: 70px;
}
.second-us h1 {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  font-weight: 34px;
  padding: 0 46px;
  margin-bottom: 9px;
  color: #C40712;
}
.second-us p {
  margin: 0;
  font-weight: 100;
  line-height: 22px;
  font-size: 16px;
  padding: 0 46px;
  margin-bottom: 83px;
}
.second-us p span {
  font-weight: 700;
}
.second-us img {
  width: 100%;
}
.second-us .background-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .second-us {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  .second-us .content {
    order: 1;
    padding-left: 150px;
  }
  .second-us .content h1 {
    font-size: 50px;
    line-height: 52px;
    max-width: 365px;
    margin-bottom: 17px;
    padding: 0;
  }
  .second-us .content p {
    font-size: 18px;
    line-height: 24px;
    max-width: 400px;
    margin-bottom: 0;
    padding: 0;
  }
  .second-us img {
    width: 50%;
  }
  .second-us.second {
    position: relative;
  }
  .second-us.second .content {
    order: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 0;
    padding-right: 130px;
  }
  .second-us.second .content h1 {
    padding: 0;
    max-width: 434px;
  }
  .second-us.second .content p {
    padding: 0;
    max-width: 434px;
  }
  .second-us.second .background-desktop {
    display: block;
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    background: url("../img/nosotros/tronx-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }
}

.contacto-hero {
  height: 493px;
  width: 100%;
  background: url("../img/contacto/mundo-surf-tronx.png") no-repeat -33rem center;
  color: white;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
}
.contacto-hero::before {
  content: "";
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 45%, black 150%);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.contacto-hero .title-container {
  height: 300px;
  padding-left: 40px;
}
.contacto-hero .title-container h1 {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  max-width: 200px;
}
.contacto-hero .title-container h1 span {
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .contacto-hero {
    background-position: center;
    height: 700px;
    display: flex;
    align-items: normal;
    justify-content: center;
  }
  .contacto-hero::before {
    content: "";
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 45%, black 250%);
  }
  .contacto-hero .title-container {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
  }
  .contacto-hero .title-container h1 {
    font-size: 34px;
    line-height: 40px;
    max-width: 459px;
  }
}

.contact-info h1 {
  font-size: 28px;
  line-height: 22px;
  color: #C40712;
  padding: 0 38px;
  margin-bottom: 26px;
  margin-top: 50px;
}
.contact-info .information {
  margin-bottom: 50px;
}
.contact-info .information p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  padding: 0 38px;
}
.contact-info .information p span {
  color: #22637E;
  font-weight: 700;
}
.contact-info img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .contact-info {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
  }
  .contact-info .information {
    position: relative;
    z-index: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 100px;
  }
  .contact-info .information h1 {
    width: 330px;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 52px;
  }
  .contact-info .information p {
    width: 330px;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
  }
  .contact-info img {
    width: 40%;
  }
  .contact-info .section-bg {
    position: absolute;
    background-position: center;
    width: 700px;
    left: 0;
    bottom: 0;
    height: 100%;
  }
}

.section-bg {
  width: 100%;
  height: 400px;
  background: url("../img/contacto/contacto-bg.png") no-repeat -50px center;
}

.mapa {
  width: 100%;
  height: 554px;
}

.contact-form {
  position: relative;
  z-index: 2;
}
.contact-form .form-header {
  background: url(../img/nosotros/deporte-acuatico-tronx.png) no-repeat center;
  height: 264px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  padding: 0 38px;
  text-align: center;
}
.contact-form .form-header h1 {
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 6px;
}
.contact-form p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  margin: 0;
}
.contact-form .form {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 38px;
}
.contact-form .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}
.contact-form .field label {
  font-size: 18px;
  color: #22637E;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 6px;
}
.contact-form .field input, .contact-form .field textarea {
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #22637E;
  padding: 6px;
  text-align: center;
}
.contact-form .boletin {
  position: relative;
  z-index: 3;
  padding: 0 38px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 300px;
}
.contact-form .boletin .boletin-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-form .boletin h2 {
  font-size: 28px;
  line-height: 30px;
  color: #C40712;
  font-weight: bold;
  margin-bottom: 15px;
}
.contact-form .boletin p {
  margin-bottom: 32px;
}
.contact-form .form-bg-mobile {
  background: url(../img/contacto/form-bg-mobile.png) no-repeat center;
  background-size: cover;
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: -300px;
  z-index: 0;
}
.contact-form .form-bg-desktop-left {
  display: none;
}
.contact-form .form-bg-desktop-right {
  display: none;
}
@media screen and (min-width: 1024px) {
  .contact-form .form-header {
    background-size: cover;
  }
  .contact-form .form-header h1 {
    font-size: 50px;
    line-height: 52px;
    margin-bottom: 25px;
    max-width: 640px;
  }
  .contact-form p {
    font-size: 20px;
    line-height: 26px;
    max-width: 640px;
  }
  .contact-form .form {
    margin-top: 120px;
    padding: 0;
  }
  .contact-form .field {
    max-width: 580px;
  }
  .contact-form .field input, .contact-form .field textarea {
    font-size: 18px;
    line-height: 26px;
  }
  .contact-form .field textarea {
    resize: none;
  }
  .contact-form .boletin {
    margin-top: 130px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contact-form .boletin h2 {
    font-size: 50px;
    line-height: 52px;
    margin-bottom: 20px;
  }
  .contact-form .boletin p {
    margin-bottom: 64px;
  }
  .contact-form .form-bg-mobile {
    display: none;
  }
  .contact-form .form-bg-desktop-left {
    display: block;
    background: url(../img/contacto/bg-contact-desktop-left.png) no-repeat right top;
    background-size: cover;
    height: 80%;
    width: 35%;
    position: absolute;
    bottom: -120px;
    left: 0;
    z-index: 0;
  }
  .contact-form .form-bg-desktop-right {
    display: block;
    background: url(../img/contacto/contact-bg-desktop-right.png) no-repeat left;
    background-size: cover;
    height: 80%;
    width: 48%;
    position: absolute;
    bottom: -120px;
    right: 0;
    z-index: 0;
  }
}

.hero-escuela {
  height: 431px;
  width: 100%;
  background: url(../img/escuela/escuela-profesional-surf.png) no-repeat center center;
  background-size: cover;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
}
.hero-escuela::before {
  content: "";
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 45%, black 150%);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
}
.hero-escuela .title-container {
  height: 90%;
  display: flex;
  align-items: flex-end;
}
.hero-escuela .title-container h1.title {
  margin: 0;
  color: white;
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
  padding: 0 27px;
}
.hero-escuela .title-container h1.title span {
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .hero-escuela {
    height: 622px;
    display: flex;
    align-items: normal;
    justify-content: center;
  }
  .hero-escuela::before {
    content: "";
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 45%, black 250%);
  }
  .hero-escuela .title-container {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
  }
  .hero-escuela .title-container h1.title {
    font-size: 50px;
    line-height: 52px;
    max-width: 450px;
    padding: 0;
  }
}

section.escuela h1 {
  color: #C40712;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}
section.escuela p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
section.escuela p strong {
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  section.escuela h1 {
    font-size: 50px;
    line-height: 52px;
  }
  section.escuela p {
    font-size: 20px;
    line-height: 26px;
  }
}

.second-section-escuela {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-section-escuela .container {
  margin-top: 50px;
}
.second-section-escuela .container__left h1, .second-section-escuela .container__left p, .second-section-escuela .container__left h2 {
  padding: 0 45px;
  margin: 0;
}
.second-section-escuela .container__left p {
  margin: 15px 0;
}
.second-section-escuela .container__left h2 {
  font-size: 22px;
  line-height: 26px;
  color: #22637E;
  margin-bottom: 8px;
}
.second-section-escuela .container__right .escuela-bg {
  width: 100%;
  height: 400px;
  background: url(../img/escuela/lecciones-cursos-surf.png) no-repeat 70% top;
  background-size: cover;
}
.second-section-escuela .apartados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 34px;
}
.second-section-escuela .apartados .figure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
}
.second-section-escuela .apartados .figure-container .figure {
  position: relative;
  width: 215px;
  height: 250px;
  background-color: #C40712;
  clip-path: polygon(50% 100%, 100% 75%, 100% 25%, 50% 0%, 0% 25%, 0% 75%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 8px 0;
  transition: background 0.2s ease-in-out;
}
.second-section-escuela .apartados .figure-container .figure:hover {
  background-color: #810A11;
}
.second-section-escuela .apartados .figure-container p {
  color: black;
}
.second-section-escuela .apartados .figure-container p span {
  color: #C40712;
  font-weight: 700;
}
.second-section-escuela button {
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .second-section-escuela .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    height: 500px;
  }
  .second-section-escuela .container__left {
    position: relative;
    z-index: 2;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .second-section-escuela .container__left .content {
    width: 70%;
  }
  .second-section-escuela .container__left .content h1, .second-section-escuela .container__left .content p, .second-section-escuela .container__left .content h2 {
    padding: 0;
  }
  .second-section-escuela .container__left .content span {
    font-size: 30px;
    line-height: 34px;
  }
  .second-section-escuela .container__right {
    width: 30%;
  }
  .second-section-escuela .container__right .escuela-bg {
    position: absolute;
    z-index: 1;
    right: 0;
    height: 600px;
    background-position: center;
    width: 60%;
  }
  .second-section-escuela .apartados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }
  .second-section-escuela .apartados .figure-container {
    margin: 0 10px;
    width: 340px;
  }
  .second-section-escuela .apartados .figure-container h1 {
    font-size: 42px;
    line-height: 52px;
  }
  .second-section-escuela button {
    margin-top: 75px;
  }
}

.third-section-escuela {
  margin-top: 100px;
}
.third-section-escuela .container__left .surf-escuela {
  background: url(../img/escuela/surf-escuela.png) no-repeat 35% center;
  background-size: cover;
  height: 460px;
  width: 100%;
}
.third-section-escuela .container__right {
  padding: 0 45px;
  height: 390px;
  background: url(../img/escuela/bg-escuela.png) no-repeat 70% center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.third-section-escuela .container__right p, .third-section-escuela .container__right h1 {
  color: white;
  margin: 0;
}
.third-section-escuela .container__right h1 {
  max-width: 175px;
  margin-bottom: 18px;
}
.third-section-escuela .container .content-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .third-section-escuela {
    margin-top: 140px;
  }
  .third-section-escuela .container {
    display: flex;
    position: relative;
    height: 585px;
    align-items: center;
  }
  .third-section-escuela .container__left {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    height: 100%;
  }
  .third-section-escuela .container__left .surf-escuela {
    background-position: center;
    height: 100%;
  }
  .third-section-escuela .container__right {
    right: 0;
    top: 0;
    position: absolute;
    width: 100%;
    background-position: -10rem center;
    z-index: 1;
    height: 100%;
  }
  .third-section-escuela .container__right .content {
    display: none;
  }
  .third-section-escuela .container .content-desktop {
    display: inline-block;
    position: absolute;
    z-index: 3;
    color: white;
    right: 10%;
  }
  .third-section-escuela .container .content-desktop h1 {
    color: white;
    width: 300px;
  }
  .third-section-escuela .container .content-desktop p {
    width: 440px;
  }
}

.main-title {
  font-size: 57px !important;
  font-weight: bold !important;
  font-style: italic !important;
  line-height: 65px !important;
  background-color: #2f8d46;
  background-image: url(../img/text-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: transparent !important;
  background-clip: text;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .main-title {
    font-size: 200px !important;
    line-height: 220px !important;
  }
}

.fourth-section-escuela {
  margin-top: 85px;
}
.fourth-section-escuela h1.main-title {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .fourth-section-escuela {
    margin-top: 140px;
  }
}

.columns {
  margin-top: 70px;
}
.columns__left img {
  width: 100%;
  height: 100%;
}
.columns__right {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.columns__right h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #C40712;
  margin: 50px 0 15px 0;
  text-align: center;
}
.columns__right p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
}
.columns__right p strong {
  font-weight: 700;
}
.columns__right p span {
  color: #22637E;
}
.columns__right p span.red {
  color: #C40712;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .columns {
    margin-top: 130px;
    display: flex;
    align-items: center;
  }
  .columns__left {
    width: 45%;
  }
  .columns__right {
    width: 55%;
    padding-left: 100px;
    align-items: flex-start;
  }
  .columns__right h1 {
    text-align: left;
    width: 530px;
    margin: 0;
  }
  .columns__right p {
    text-align: left;
    width: 530px;
  }
  .columns.order .columns__left {
    order: 1;
  }
  .columns.order .columns__right {
    position: relative;
    padding-left: 0;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
  }
  .columns.order .columns__right .button-container {
    width: 530px;
    display: flex;
    justify-content: flex-start;
  }
}

.fifth-section-escuela {
  background: #22637E;
  padding: 40px 0;
  margin-top: 135px;
}
.fifth-section-escuela .main-title {
  color: white !important;
  text-align: center;
}
.fifth-section-escuela .columns {
  color: white;
}
.fifth-section-escuela .columns h1 {
  color: white;
}
@media screen and (min-width: 1024px) {
  .fifth-section-escuela {
    padding: 100px 0;
  }
}

.sixth-section-escula {
  margin-top: 30px;
}
.sixth-section-escula h1.main-title {
  text-align: center;
}
.sixth-section-escula .columns:first-of-type {
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .sixth-section-escula {
    margin-top: 100px;
  }
  .sixth-section-escula .columns:first-of-type {
    margin-top: 100px;
  }
}

.seventh-section-escula {
  margin: 100px 0;
}
.seventh-section-escula h1.main-title {
  text-align: center;
}
.seventh-section-escula .columns {
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  .seventh-section-escula .columns:first-of-type {
    margin-top: 100px;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
