@import 'fonts';
@import 'variables';
@import 'home';
@import 'nosotros';
@import 'contacto';
@import 'escuela';

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $Roboto;
}